<!DOCTYPE html>
<html lang="en" class='scroll-smooth'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DebugCrew</title>
    <link href="https://api.fontshare.com/v2/css?f[]=general-sans@400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <%- include("navbar") %>
    <script src="script.js"></script>
   
    <%- include("hero") %>
    <%- include("projects") %>
    <%- include("about") %>
    <%- include("contact") %>
    
   
</body>
</html>