<!DOCTYPE html>
<html lang="en" class='scroll-smooth'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Debugcrew is a Hack Club at PM SHRI Kendriya Vidyalaya, No. 2 Jammu Cantt, It focuses on learning and sharing knowledge about programming, technology, and innovation. We organize workshops, coding sessions, and projects to foster creativity and collaboration among students. Join us to explore the world of coding and technology!">
    <title>DebugCrew - HackClub</title>
    <link href="https://api.fontshare.com/v2/css?f[]=general-sans@400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/svg+xml" href="/icon-rounded.svg" sizes="any">
</head>
<body>

    <%- include("navbar") %>
    <script src="script.js"></script>
   
    <%- include("hero") %>
    <%- include("projects") %>
    <%- include("about") %>
    <%- include("contact") %>
    
   
</body>
</html>